# A whitelist of files that should be included into Docker.
# Put an exclaimation mark before everything to include.

# Ignore everything
*

# Allow the source code folders
!/crates/
!/tools/
!/assets/

# Image defaults, entrypoint and backup scripts
!/docker/

# Allow build.rs to read git commit sha
!/.git

# Dependencies and toolchain
!Cargo.lock
!Cargo.toml
!rust-toolchain.toml

# Local build output never belongs in the context
/crates/**/target
